.wrapper{
	width: 800px;
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.accordion{
	background-color: #777;
	color: #555;
	padding: 30px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.2s;
}
.accordion__head{
	background-color: inherit;
	display: block;
	padding: 20px;
	margin: 10px;
	color: #eee;
	border: 1px solid #555;
}
.accordion__head.active,
.accordion__head:hover{
	background-color: #999;
}
.accordion__body{
	padding: 0 30px;
	background-color: #999;
	display: none;
	overflow: hidden;
	transition: 
		height 0.2s ease-in-out,
		box-shadow 0.1s linear;
	justify-content: center;
}
.accordion__body p{
	color: white;
	size: 26px;
}
.accordion__body img{
	margin: 10px auto 20px;
   display: block;
	max-width: 100%;
}
.accordion__body icon{
	color: #eee;
}
.accordion__input{
	display: none;
}
.accordion__head:hover ~ .accordion__body{
	display: block;
	
}
.accordion__input:checked ~ .accordion__body{
	display: block;
}
.wrapper:hover.accordion__head{
	cursor: pointer;
}

@media screen and(min-width: 320px) {
	.wrapper {
		width: 100%;
	}
	img{
		max-width: 100%;
		height: auto;
		width: auto\9;
	}
}
@media screen and(min-width: 820px) {
	.wrapper{
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and(min-width: 1920px) {
	.wrapper{
		width: 50%;
	}
}